.btnWrap {
  display: flex;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.icon {
  width: 26px;
  height: 26px;
  fill: var(--text-color);
  cursor: pointer;
}
.iconBlack {
  width: 26px;
  height: 26px;
  fill: #760d0d;
  cursor: pointer;
}
