.btnWrap {
  display: flex;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.icon {
  width: 22px;
  height: 22px;
  fill: var(--text-color);
}
